{% extends 'base.html' %} 
{% block head_title %}Library Management System{% endblock %} 
{% block content %} 
{% load static %}
<div
  class="container mx-auto flex flex-col md:flex-row items-center my-5 md:my-10 bg-white rounded-2xl"
>
  <div
    class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-opacity-70 mx-3"
  >
    <h1 class="font-bold text-4xl my-4">
      Welcome to Our Library Management System
    </h1>
    <p class="leading-normal mb-4">
      A library management system (LMS) is a software solution that helps
      libraries manage their resources. It can track a library's items, orders,
      bills, and patrons. LMSs can also automate and streamline library
      processes, allowing librarians to focus on providing better services to
      patrons.
    </p>
    <div class="flex justify-end w-full">
      <a
        href="{% url 'home' %}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >Read More</a
      >
    </div>
  </div>
  <div class="w-full lg:w-1/2 lg:py-6 text-center">
    <img class="rounded-2xl" src="{% static 'img/l.jpg' %}" />
  </div>
</div>
<div class="">
  <div class="">
    <div class="">
      <h5>All Categories</h5>
      {% for i in categories %}
      <a href="{% url 'category_wise_post' i.slug  %}" class="btn btn-warning">{{ i.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 p-3">
    {% if books %}
    <h4>{{books | length}} results found</h4>
    <div class="d-flex flex-wrap pt-1">
      {% for i in books %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
            {% if i.image.url is not None %}
            <img src="{{i.image.url}}" class="card-img-top" alt="" />
            {% endif %}
            <h2 class="">{{ i.title|truncatewords:3 }}</h2>
            <p class="">Price: {{ i.price }} $</p>
            <p class="">Category: {{ i.category }}</p>
            <a href="{% url 'details_post' i.id %}" class="btn btn-warning"
              >Read more</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h3>No Book Available</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
